extends layout

block content
  form(method="get" id="search")
    input(id="q" name="q" type="text" size="150" placeholder="Type a hashtag and press Enter.")/
    label(id="filter")
    
  div(id="container")