extends layout

block content
  
  form(method="get" id="search")
    input(id="q" name="q" type="text" size="150" placeholder=filter)/
    button(type="submit") Search images
    label(id="filter")

  div(id="container")